html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*fonts*/

@font-face {
    font-family: 'Oswald';
    src: url('fonts/OswaldRegular.eot');
    src: url('fonts/OswaldRegular.eot') format('embedded-opentype'), url('fonts/OswaldRegular.woff2') format('woff2'), url('fonts/OswaldRegular.woff') format('woff'), url('fonts/OswaldRegular.ttf') format('truetype'), url('fonts/OswaldRegular.svg#OswaldRegular') format('svg');
}
/* Header*/

.row:after {
    display: block;
    content: "";
    clear: both;
}

.logo {
    display: block;
    background: url(images/logo.png) no-repeat;
    width: 161px;
    height: 38px;
    float: left;
}

.search-form {
    float: right;
}

.search-input {
    display: block;
    background: #f3f3f3;
    width: 152px;
    height: 30px;
    border: 1px solid #e7e7e7;
    outline: 0;
    padding: 0px;
    padding-left: 8px;
    float: right;
}

.search-button {
    display: block;
    height: 32px;
    width: 40px;
    background: #29c5e6;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: "Oswald", Suns-serif;
    font-size: 14px;
    float: right;
    padding: 0px;
}

.main-nav-item {
    background: #f3f3f3;
    font-family: "Oswald", Suns-serif;
    color: #b2b2b2;
    display: block;
    width: 120px;
    height: 38px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
}

.main-nav-bar li {
    float: left;
}

.active-nav-item {
    background: #29c5e6;
    color: #fff;
    border: 0;
    height: 40px;
    line-height: 40px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-nav-bar:after {
    display: block;
    content: "";
    clear: both;
}

.main-nav-bar {
    margin-top: 20px;
}

.header-top {
    margin-top: 25px;
}

.main-nav-item:hover {
    background: #29c5e6;
    color: #fff;
    border: 0;
    height: 40px;
    line-height: 40px;
    transition: 0.5s;
}

.search-button:hover {
    cursor: pointer;
    background: #9ee2f0;
}

.search-button:active {
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(122, 122, 122, 0.75);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(122, 122, 122, 0.75);
    box-shadow: inset 0px 0px 30px 0px rgba(122, 122, 122, 0.75);
}
/*Header finish*/
/*Slider start*/

.slider-gallery {
    height: 280px;
    width: 960px;
    background: #e2e2e2;
}

.slider-list {
    display: block;
    content: "";
    clear: both;
    height: 50px;
}

.slider-item {
    display: inline;
    background: #f3f3f3;
    text-transform: uppercase;
    height: 50px;
    width: 240px;
    font-family: "Oswald", Suns-serif;
    color: #8f8f8f;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    float: left
}

.slider-box:hover .slider-item {
    color: #29c5e6;
}

.slider-box:hover .slider-item-number {
    background: #29c5e6;
}

.slider-item-number {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: #8f8f8f;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
}

.slider-top {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}
/*Slider finish*/
/*-- MAIN PAGE BEGIN-----------------------------------------------------------------------------------------------------------------------*/

.main-page {
    height: 540px;
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}

.main-info-big {
    height: 170px;
}

.main-info-small {
    height: 180px;
    margin-top: 40px;
    background: #6666ff;
}

.clients {
    height: 120px;
    background: #6666ff;
    margin-top: 30px;
}
/*-- MAIN INFO BIG BEGIN-----------------------------------------------------------------------------------------------------------------------*/

.info-big-block {
    height: inherit;
    width: 460px;
    float: left;
    margin: 0 10px;
}
.block-header{
    height: 15px;
    overflow: hidden;
}
.square{
    height: inherit;
    width: 15px;
    background: #29c5e6;
    float: left;
}
.block-name{
    font-family: Oswald;
    font-size: 14px;
    color:#7e7e7e;
    text-transform: uppercase;
    height: inherit;    
    float: left;
    padding-left: 5px;
    padding-right: 8px;
}

.header-cursive-line{    
    height: inherit;
    background-image: url(images/cursive-line.png);
    overflow: hidden;
}


/*-- MAIN INFO BIG END-----------------------------------------------------------------------------------------------------------------------*/
/*-- MAIN INFO BIG BEGIN-----------------------------------------------------------------------------------------------------------------------*/
 
.info-small-block {
    width: 300px;
    height: inherit;
    float: left;
    margin: 0 10px;
    background: #3333ff;
}
/*-- MAIN INFO SMALL END-----------------------------------------------------------------------------------------------------------------------*/
/*-- MAIN PAGE END-----------------------------------------------------------------------------------------------------------------------*/